{% extends 'base.html.twig' %}

{% block title %}Modifier Aquarium{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <h1>Modifier Aquarium</h1>
    {{ include('aquarium/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    
    <div style="margin-top: 2rem; text-align: right;">
         {{ include('aquarium/_delete_form.html.twig') }}
    </div>
{% endblock %}