{% extends 'base.html.twig' %}

{% block title %}New Aquarium{% endblock %}

{% block body %}
    <h1>Create new Aquarium</h1>

    {{ include('aquarium/_form.html.twig') }}

    <a href="{{ path('app_aquarium_index') }}">back to list</a>
{% endblock %}
