{% extends 'base.html.twig' %}

{% block title %}Nouvel Aquarium{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <h1>Ajouter un Aquarium</h1>
    {{ include('aquarium/_form.html.twig') }}
{% endblock %}