<form method="post" action="{{ path('app_data_delete', {'id': data.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette saisie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data.id) }}">
    <button class="btn-danger">Supprimer</button>
</form>
