{% extends 'base.html.twig' %}

{% block title %}Nouvelle Saisie
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
	<h1 class="form-title">Créer une nouvelle saisie</h1>

	{{ include('data/_form.html.twig') }}

	<div style="margin-top: 1rem; text-align: center;">
        <a href="{{ path('app_data_index') }}" class="btn-link">Retour à la liste</a>
    </div>
{% endblock %}
