{% extends 'base.html.twig' %}

{% block title %}Nouvelle Mesure{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <h1>Saisir une Mesure</h1>
    {{ include('data/_form.html.twig') }}
{% endblock %}