/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --cls-green: hsl(78, 18%, 57%);
    --cls-red: hsl(17, 97%, 47%);
    --cls-black: hsl(40, 7%, 8%);
    --cls-white: hsl(0, 0%, 96%);
    --cls-black-1: hsl(51, 8%, 16%);

    --ff-primary: 'Roboto', sans-serif;

}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    background-color: var(--cls-black);
    color: var(--cls-white);
    font-family: var(--ff-primary);
}

/* Header */

header {
    background-color: var(--cls-black-1);
    box-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid var(--cls-green);
    list-style: none;
}

#logo {
    color: var(--cls-green);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

/* Dropdown */

#profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--cls-white);
    text-decoration: none;
    font-weight: bold;
}

#profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropbtn {
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: hsl(40, 7%, 8%);
}

.dropdown {
    float: right;
    display: block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cls-green);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px hsla(0, 0%, 0%, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: hsl(0, 0%, 0%);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: hsl(78, 18%, 80%);
}

.show {
    display: block;
}

/* SideBar */

#sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--cls-black-1);
    padding-top: 90px;
    box-shadow: 2px 0 5px hsla(0, 0%, 0%, 0.1);
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar a {
    display: block;
    color: var(--cls-white);
    padding: 10px;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: var(--cls-green);
    color: var(--cls-black);
}

/* Main */
#content {
    margin-left: 250px;
}