{% extends 'base.html.twig' %}

{% block title %}Nouveau Poisson{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/forms.css') }}">
{% endblock %}

{% block body %}
    <h1>Ajouter un Poisson</h1>
    {{ include('fish/_form.html.twig') }}
{% endblock %}