{% extends 'base.html.twig' %}

{% block title %}Ressources{% endblock %}

{% block body %}
    <h1>Centre de Ressources</h1>
    <div class="card-grid">
        <div class="card">
            <h3>Guide du Débutant</h3>
            <p>Apprenez les bases de l'aquariophilie.</p>
            <a href="#" class="btn btn-primary mt-4">Lire</a>
        </div>
        <div class="card">
            <h3>Maladies des Poissons</h3>
            <p>Identifier et traiter les maladies courantes.</p>
            <a href="#" class="btn btn-primary mt-4">Lire</a>
        </div>
        <div class="card">
            <h3>Plantes Aquatiques</h3>
            <p>Choisir et entretenir ses plantes.</p>
            <a href="#" class="btn btn-primary mt-4">Lire</a>
        </div>
    </div>
{% endblock %}
