{% extends 'base.html.twig' %}

{% block title %}AquaTrack | Dashboard
{% endblock %}

{% block body %}
	<div class="root">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>C:/Users/rayan/Documents/BUT MMI/SAE/SAE S3/sae_projet_aquarium/src/Controller/DashBoardController.php</code>
			</li>
			<li>Your template at
				<code>C:/Users/rayan/Documents/BUT MMI/SAE/SAE S3/sae_projet_aquarium/templates/dashboard/index.html.twig</code>
			</li>
		</ul>
	</div>
{% endblock %}
