{% extends 'base.html.twig' %}

{% block title %}AquaTrack | Dashboard
{% endblock %}

{% block body %}
	<div class="root">

		<h1>Dashboard</h1>
		<ul>
			{% for user in users %}
				<li>{{ user.email }}</li>
			{% endfor %}
		</ul>
	{% endblock %}
