{% extends 'base.html.twig' %}

{% block title %}Rapports{% endblock %}

{% block body %}
    <h1>Rapports et Analyses</h1>
    <div class="card">
        <p>Cette section est en cours de construction.</p>
        <p>Ici, vous pourrez bientôt visualiser des rapports détaillés sur la qualité de l'eau et la santé de vos poissons.</p>
    </div>
{% endblock %}
